<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header class = "contHeader">
        <img class = "logoImg" src="../public/images/logoPag1.png">
        <div class = "dataUser">
            <img class= "fotoPerfil" src="../public/images/fotoPerfil.jpg">
            <h3 class = "userName"> Bautista Iorfida </h3>
        </div>
    </header>
    <nav class=" nav nav-pills flex-column flex-sm-row p-2 text-dark bg-opacity-50 ">
        <div class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="#"> <button type="button" class="btn btn-outline-success botonNav">Inicio</button></div>
        <div class="flex-sm-fill text-sm-center nav-link" href="#"> <button type="button" class="btn btn-outline-success botonNav">Quiénes somos?</button></div>
        <div class="flex-sm-fill text-sm-center nav-link" href="#"><button type="button" class="btn btn-outline-success botonNav">Agregá tu nuevo viaje</button></div></div>
        <div class="flex-sm-fill text-sm-center nav-link" href="#"> <button type="button" class="btn btn-outline-success botonNav">Contacto</button></div>
        <div class="flex-sm-fill text-sm-center nav-link" href="#"> <button type="button" class="btn btn-outline-success botonNav">Mi cuenta</button></div>
      </nav> 
      
<main class = "contMain">
    
  <div id="carouselExampleCaptions" class="carousel slide contfotosMain" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../public/images/amigosCarrusel.jpg" class="d-block w-100 fotosMain" alt="fotos de amigos">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../public/images/ecologiaCarrusel.jpg" class="d-block w-100 fotosMain" alt="fotos de ecologia">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../public/images/paisajeCarrusel.jpg" class="d-block w-100 fotosMain" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <div class="mainCards">

        <div class="card text-center cards">
            <button type="button" class="btn btn-outline-success">Calendario</button>
            <div class="card-body">
              <img class= "fotoCalendar" src="../public/images/calendar.jpg">
            </div>
            <div class="card-footer text-muted">
              Edited 2 days ago
            </div>
          </div>

        <div class="card text-center cards">
            <button type="button" class="btn btn-outline-success">Ver amigos en el mapa</button>
            <div class="card-body">
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13157.983002751058!2d-58.8633397!3d-34.46494595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1653075386382!5m2!1ses!2sar" class="mapa"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            </div>
            <div class="card-footer text-muted">
              Edited 2 days ago
            </div>
          </div>

        <div class="card text-center cards">
            <button type="button" class="btn btn-outline-success">Solicitudes de Poolers</button>
            <div class="card-body">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13157.983002751058!2d-58.8633397!3d-34.46494595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1653075386382!5m2!1ses!2sar" class="mapa"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            </div>
            <div class="card-footer text-muted">
              Edited 2 days ago
            </div>
          </div>
    </div>
</main>

<footer class="contenedorFooter">

        <div class="contFooterA"> <!-- Contenedor del logo del Footer -->
            <img src="../public/images/logoPag1.png" width= "105px"> 
        </div>

        <div class="contFooterB">   <!-- Contenedor del contacto del Footer -->

            <h2> Contactanos:</h2> 
            <p>Ejemplo@gmail.com</p>
            <p>+54 911 27284692</p>
            <p>direccion del lugar</p>
        </div>

        <div class="contFooterC">   <!-- Contenedor de preguntas del Footer -->
            <h2> Necesitas ayuda?</h2> 
            <p> Mandanos tu consulta:</p> 
            <textarea class="form-control input-group" aria-label="With textarea"></textarea>
        </div>


</footer> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>