main{
    background-image: url("../images/fondoBody.png");
}

.contHeader {
    display: flex;
    background-image: url("../images/fondoHeader.jpg");
    width: 100%;
    background-size: cover;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.iniciarSesion{
    width: 75%;
    cursor: pointer;
}

.logoImg {
    width: 15%;
    height: 100%;

}
.userImg{
    width: 75%;
}

.ejemplo{
    justify-content: left;
}

.burgerButon {
    background-color: #325c37;
    justify-content: right;
    display: flex;
}

.navCeluCompu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #CAFABE;
    height: 100%;
    padding: 30px;
    opacity: .9;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out;
    z-index: 100;
    padding-top: 20%;
}

.navCeluCompu.show {
    transform: translateX(-20px);
}

.contImgSolicutud{
    width: 30%;
}

.botonMio {
    height: 10%;
    margin-right: 5px;
}

.logoFooter{
    width: 15%;
}
.dataUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.titulo{
    display: flex;
    align-items: center;

}

.fotoPerfil {
    width: 50%;
    cursor: pointer;
}

.userName {
    font-family: 'Grape Nuts', cursive;
    color: white;
    text-align: center;

}

.botonNav{
height: 50px;
}

.btn-outline-success{
    --bs-btn-border-color: #325c37;
}
.contfotosMain{
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    box-shadow: 10px 10px 20px 10px;

}

.fotosMain{
    width: 80%;
}

.contMain {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
    
}
.cards{
    width: 250px;
    margin-top: 15px;
    background-color: rgb(60, 156, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    box-shadow: 10px 10px 20px 10px;
}

.news {
    width: 82%;
    margin: 2% 9%  1% 9%;
    box-shadow: 10px 10px 20px 10px;
    margin-bottom: 50px;
}

.contImgNews{
    width: 75%;

}

.formulario{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}
.apiDiaFeriado {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tituloFotos {
    font-size: 40px;
}

.descripcionFotos {
    font-size: 30px;
}

.fotoCalendar { 
    width: 100%;
}

.navTitulo {
    color: rgb(34, 34, 34);
}

 p{
    text-align: center;
}
.mapa {
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
}

.solicitudes {
    width: 25%;
    background-color: darkslateblue;
    height: 250px;
}

.solicitud {
    display: flex;
    align-items: center;
    background-color: #cee0db;
    border-radius: 10%;
    margin-bottom: 7%;
    justify-content: space-between;
}
p{
    margin-bottom: 0px;
}

 /*Diseño del Footer */

 footer {
    bottom:0;
    width:100%; 
    background:#CAFABE;
 }

/* Diseño del contenedor padre del Footer*/
.contenedorFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    color: #198754;
    padding-top: 2%;
}

/* Diseño del contenedor del logo del Footer*/
.contFooterA {
    width: 100%;
}

/* Diseño del logo del Footer*/
.contFooterA img {
    width: 60%;
    margin-left: 20%;
}


 /* Diseño del contenedor del contacto del Footer*/
 .contFooterB .contFooterC {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding-top: 25px;
     text-align: center;
     width: 40%;
 }

 .btnFooter { 
     margin-top: 5px;
     width: 100%;
 }
 .whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.instagram {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 115px;
    right: 15px;
    background-color: #974385;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}



.my-float {
    margin-top: 16px;
}

/* -----------------Cambios en el diseño a partir de 576px EN FOOTER, ----------------*/
/*------------------------------------------------------------------------------------*/

@media (min-width: 500px) {

    .contFooterA img{
        width: 40%;
        margin-left: 30%;
    }
}
 /* Cambios en el diseño a partir de 768px*/
    
    @media (min-width: 768px) {
    
        .navCeluCompu {
            display: flex;
            justify-content: space-around;
            position:initial;
            height: auto;
            padding: 0;
            opacity: 100%;
            transform: none;
            width: 100%;
            transition: none;
            width: 100%;
            padding-left: 10px;
        }
        .burgerButon{
            display: none;
        }
        

     .contFooterA {
        width: 15%;
        text-align: center;
    }

    .contFooterA img{
        width: 100%;
        margin-left: 0%;
    }
    a.categFooter {
        width: 90%;
    }
    .cards{
    width: 25%;
    }
    }

    @media (min-width: 1024px) {
    
        .contFooterA img{
           width: 200px;
       }
    }